@use '../variables' as *;
@use '../mixins' as *;

.app {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2rem 0;
  max-width: 1000px;
  margin: 0 auto;

  @include md-min {
    transform: scale(0.8);
  }

  &__title {
    width: 100px;
    word-wrap: break-word;
    letter-spacing: 10px;
    line-height: 1;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 2rem;
  }

  &-calculator {
    padding: 2rem;
    background-color: $white;
    border-radius: 1.5rem;
    @include box-shadow();

    &__wrapper {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 1.5rem;

      @include md-min {
        grid-template-columns: repeat(2, 1fr);
        div:last-child {
          grid-column-start: 2;
          grid-column-end: 3;
          grid-row-start: 1;
          grid-row-end: 4;
        }
      }
    }

    &__input {
      margin-top: 1rem;
      width: 100%;
      position: relative;

      img {
        position: absolute;
        left: 1rem;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    &-tips {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;

      label {
        width: 100%;
      }

      &__item {
        width: calc(50% - 1rem);
        padding: 0.5rem 1rem;
        line-height: 1.5;
        font-size: 1.5rem;
        background-color: $dark-cyan;
        border-radius: 0.5rem;
        color: $white;

        @include md-min {
            width: calc(33.33333% - 2rem);
        }

        &:not(:last-child):hover,
        &:not(:last-child):active{
          background-color: $gray-cyan-200;
          color: $dark-cyan;
        }
        &.active {
          background-color: $primary;
          color: $dark-cyan;
        }
      }

      input {
        display: block;
        background-color: $gray-cyan-100;
        color: $gray-cyan-400;
        @include md-min {
          width: calc(33.33333% - 2rem);
        }

        &::placeholder {
          @include md-min {
            font-size: 0.85rem;
          }
        }
      }
    }

    &__total {
      background-color: $dark-cyan;
      border-radius: 1rem;
      padding: 1.5rem;
      display: flex;
      flex-direction: column;
      min-height: 250px;

      &-item {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1.5rem;
      }

      &-title {
        color: $white;
        width: 50%;
        font-size: 1rem;
        position: relative;

        &::before {
          display: block;
          content: '/ persen';
          position: absolute;
          bottom: -0.25rem;
          left: 0;
          font-size: 12px;
          color: $gray-cyan-400;
        }
      }

      &-amount {
        color: $primary;
        @include md-min {
          font-size: 2rem;
        }
      }

      button {
        width: 100%;
        margin-top: auto;
        padding: 0.5rem 1rem;
        background-color: $primary;
        color: $dark-cyan;
        text-transform: uppercase;
        border-radius: 0.5rem;
        transition: background-color 0.3s;

        &:hover {
          background-color: $gray-cyan-200;
        }
      }
    }
  }
}
